@charset "UTF-8";
/* #D94E67*/
body {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-family: Tahoma, Geneva, sans-serif;
  background-color: #591E23; }

footer {
  background-color: #591E23;
  color: #fff;
  text-align: left;
  padding-top: 0.625em;
  margin-bottom: 1.25em; }
  footer a, footer a:link {
    color: #FF5A7C;
    text-decoration: none; }
  footer a:hover {
/*     color: #fff; */
    text-decoration: underline; }


.footer {
  margin-top: 0.625em;
  
 }

.center {
  margin-left: auto;
  margin-right: auto;
  width: 70%; }

header {
  background-color: #73503C/* F2D8A7 */;
  margin-top: 3.125em; }
  
#titleImg
{
  background: url('../images/woodBackground.png'); 
	/* height: 650px; */
}  

#titleText
{
  color: white;
  font-size: 6.25em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}



#logoImg {
  max-width: 10.125em;
  max-height: 10.1875em; }

#cafeImg {
  max-width: 21.875em;
  max-height: 15.8125em; }

h1 {
  text-align: center;
  padding:0.3125em;
  padding-bottom: 0.9375em;
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif; }
  
h2 {
  text-align: center;
  font-size: 1.5625em;
  padding: 0.3125em;
  padding-bottom: 0.625em;
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif; }

h3 {
  text-align: center;
  padding: 0.3125em;
  padding-bottom: 0.625em;
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif; }

h4 {
  padding-top: 0.3125em;
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif; }
  
h5
{
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	font-size: 1em;
}

ul {
  padding-left: 0; }
  ul p {
    font-size: 0.875em; }

p {
  font-size: 1em; }

main div {
  padding: 0.9375em; }

hr {
  border-color: #FF5A7C;
  width: 90%; }

.vr {
  border-left: thin solid #FF5A7C; }

li {
  list-style-type: none; }

a, a:link, a:visited  {
  color: #FF5A7C;
  text-decoration: none; }
  
  

a:hover {
/*   color: #F2D8A7; */
  text-decoration: underline; }




.rounded {
  -webkit-border-radius: 0.3125em;
  -moz-border-radius: 0.3125em;
  border-radius: 0.3125em; }

main {
  background-color: #591E23;
  padding-top: 0; }


.navbar-custom {
  color: #fff;
  background-color: #591E23;
  margin-bottom: 0; }

.navbar-custom .navbar-nav > li > a {
  color: #fff; }

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #FF5A7C; }


.navbar-brand {
  padding: 0; 
  width: 50px;
  height: 50px;		
  }

.navbar-right {
  padding-top: 0.3125em; }

.inner-item {
  text-align: center; }
  .inner-item img {
    margin: 0 auto; }
    
#cafeName {
	padding-top: 0.78125em;
	font-size: 1.125em;
	color: #fff; }    


#facebookLogo {
  margin-top: 0.3125em; 
  width: 30px;
  height: 30px;
  }


.center-text {
  text-align: center; }

#directions {
  background-color: #FAF5FF;
  margin-top: 0;
  padding-top: 0.9375em;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  padding-bottom: 0.625em; }

#map-canvas {
  width: 100%;
  min-height: 450px;
  height: 100%; }
  
.secOne, .secThree{
  background-color: #fff/* FFE3C9 */;
  /* FFDEC9 */
  margin-top: 0;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  padding-bottom: 0.625em;
  color: #000; }

.secTwo {
  background-color: #FAF5FF/* F2D8A7 */;
  margin-top: 0;
  padding-top: 3px;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  padding-bottom: 0.625em; }
/* 
  .secTwo a:hover {
    color: #591E23; }
 */
    
.secFour {
  background-color: #FAF5FF/* F2D8A7 */;
  margin-top: 0;
  padding-top: 0.1875em;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  padding-bottom: 0.625em; }


.tab-content
{
	background-color: #fff;
}

#burgerBox
{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.25em;
	display: block;
	border: .25em double #FF5A7C;
}

#potatoBox
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.25em;
	display: block;
	border: .25em double #FF5A7C;
}

.inline
{
	display: inline;
    vertical-align: bottom;
}


#pdfMenu
{
	float: right;
	border-color:#591E23;	
}

#pdfMenu a:hover
{
	text-decoration: none;
}

span.glyphicon {
    font-size: 1.25em;
}

.email a:hover 
{
    color: #fff;
}

#pancakeImg
{
	max-width: 259px;
	max-height: 259px;
}

#burgerImg
{
	padding-top: .5em;
	width: 50%;
	height: 50%;
	max-width: 263px;
	max-height: 263px;	
}

#dessertImg
{
	width: 75%;
	height: 75%;
	max-width: 720px;
	max-height: 540px;	
}

#kiddies
{
	max-width: 149px;
	max-height: 90px;
}


#sidesImg
{
	width: 50%;
	height 50%;
	max-width: 250px;
	max-height: 250px;
}

#logoId
{
	height: 100%;
	width: 100%;
}

#bunkLogo
{
	width: 50%;
	height 50%;
	max-width: 250px;
	max-height: 252px;
}

@media (max-width: 599px) and (min-width: 320px) {
    #titleText{
        font-size: 50px;
    }


